.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.hidden-phone {
  display: none;
  @media only screen and (min-width : 768px) {
    display: block;
  }
}
.hidden-desktop {
  @media only screen and (min-width : 768px) {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
  &.label {
    div { display: inline; }
  }
  @media only screen and (min-width : 768px) {
    white-space: normal;
    &.label {
      div { display: block; }
    }
  }
}
