.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
