//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.pull-left { float: left; }
.pull-right { float: right; }

.text-center { text-align: center; }
.clearfix { @include clearfix; }
// Add width: 100% \9; for IE8-10
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden { display: none; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.white-bg { background-color: white; }

.nowrap {
  white-space: nowrap;
  &.label {
    div { display: inline; }
  }
  @media (min-width: $screen-sm-min) {
    white-space: normal;
    &.label {
      div { display: block; }
    }
  }
}
